<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderby.myapp.hr.dao.IEmpRepository">

	<resultMap id="empMap" type="com.coderby.myapp.hr.model.EmpVO">

	</resultMap>

	<select id="getEmpCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM EMPLOYEES
		<if test="deptid != null">
			WHERE DEPARTMENT_ID = #{deptid}
		</if>
	</select>

	<select id="getEmpList" resultMap="empMap">
		SELECT	EMPLOYEE_ID		AS	employeeId,
				FIRST_NAME		AS	firstName,
				LAST_NAME		AS	lastName,
				EMAIL			AS	email,
				PHONE_NUMBER	AS	phoneNumber,
				HIRE_DATE		AS	hireDate,
				JOB_ID			AS	jobId,
				SALARY			AS	salary,
				COMMISSION_PCT	AS	commissionPct,
				MANAGER_ID		AS	managerId,
				DEPARTMENT_ID	AS	departmentId
		FROM EMPLOYEES
	</select>

</mapper>