<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderby.myapp.hr.dao.IEmpRepository">

	<select id="getEmpCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM EMPLOYEES
		<if test="deptid != null">
			WHERE DEPARTMENT_ID = #{deptid}
		</if>
	</select>

	<select id="getEmpList" resultType="com.coderby.myapp.hr.model.EmpVO">
		SELECT * FROM EMPLOYEES
	</select>


</mapper>
  